<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <style>
            #header {
                display: flex;
                justify-content: space-around;
                border: 2px solid black;
                border-radius: 10px;
            }

            .error {
                color: red;
            }

            .success {
                color: green;
            }

            .example-wrapper {
                margin: 1em auto;
                max-width: 800px;
                width: 50%;
                font: 18px / 1.5 sans-serif;
                border: 1px solid grey;
            }

            .example-wrapper h1 {
                text-align: center;
            }

            .selected {
                opacity: 60%;
            }

            #header button {
                 padding: 10px;
                font-size: 20px;
                background: #C5E7E2;
                border-radius: 10px;
                font-weight: bolder;
                cursor: pointer;
            }

            #header a {
                margin: 30px;
                text-decoration: none;
                color: black;
                transition-duration: 0.5s;
            }

            #header a:hover {
                transform: scale(1.1);
            }

        </style>
        
        <header id="header">
            <a href="/"><button {% if route == '/' %}class="selected"{% endif %}>Accueil</button></a>
            <a href="/add"><button {% if route == '/add' %}class="selected"{% endif %}>Ajout de film</button></a>
            <a href="/import"><button {% if route == '/import' %}class="selected"{% endif %}>Import de films</button></a>
        </header>


        {% block body %}{% endblock %}
    </body>
</html>
