{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!
{% endblock %}

{% block body %}
	<style>
		.form {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			width: 70%;
			height: 250px;
			margin: auto;
		}

		.form div.column {
			display: flex;
			flex-direction: column;
		}

		.form div.inline {
			display: flex;
			justify-content: space-between;
		}

		.form * {
			font-size: 16px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Ajout de film</h1>

		{{ form_start(form) }}
			<div class="form">
				<div class="column">
					{{ form_label(form.name) }}
					{{ form_widget(form.name) }}
				</div>

				
				<div class="inline">
					<div class="column">
						{{ form_label(form.score) }}
						{{ form_widget(form.score) }}
					</div>

					<div class="column">
						<label for="mail">Mail</label>
						<input type="email" id="mail" name="mail" required>
					</div>
					
				</div>
			
				<button type="submit">Ajouter</button>

				{% if success %}
					<p class="success">Film ajouté !</p>
				{% else %}
					<p class="error">{{error}}</p>
				{% endif %}
			</div>
			
		{{ form_end(form) }}

		
	</div>
{% endblock %}
