{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!
{% endblock %}

{% block body %}
	<style>
		
		.form * {
			font-size: 16px;
			display: flex;
			flex-direction: column;
		}

		#delete {
			padding-left: 30px;
			padding-right: 30px;
			padding-bottom: 30px;
		}

	</style>

	<div id="delete" class="example-wrapper">
	{% if movie != null %}
		<h2>Suppression de {{movie.name}}</h2>

		{{ form_start(form) }}
			<div class="form">
				{{form_label(form.password)}}
				{{form_widget(form.password)}}
				<button type="submit">Supprimer</button>
				
				{% if success == "True" %}
					<p class="success">Film supprimé !</p>
				{% else %}
					<p class="error">{{error}}</p>
				{% endif %}
				
			</div>
		{{ form_end(form) }}
	{% else %}
		<h4>Le film que vous voulez supprimer n'existe pas...</h4>
	{% endif %}
		
	</div>
{% endblock %}
