{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!
{% endblock %}

{% block body %}

	<style>
		#display {
			padding-left: 30px;
			padding-right: 30px;
			padding-bottom: 30px;
		}
	</style>

	<div id="display" class="example-wrapper">
	{% if movie != null %}
		<h1>{{ movie.name }} | <em>{{ movie.score }}/10</em></h1>
		<p>{{ movie.description }}</p>
		<p>Nombre de votants : {{ movie.votersNumber }}</p>
		<a href="{{ path('delete', {movieID : movie.id}) }}"><button>Supprimer</button></a>
	{% else %}
		<h4>Le film que vous voulez afficher n'existe pas...</h4>
	{% endif %}
	</div>
{% endblock %}
