{% extends 'base.html.twig' %}

{% block title %}Import
{% endblock %}

{% block body %}
    <style>
        .form {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			width: 70%;
			height: 150px;
			margin: auto;
		}

        .form * {
			font-size: 16px;
		}

        .form div.column {
			display: flex;
			flex-direction: column;
		}

        .form p {
            margin: 0 0;
        }
    
    </style>


    <div class="example-wrapper">
        <h1>Import de films</h1>

        {{ form_start(form) }}
        <div class="form">
            <div class="column">
                {{form_label(form.file)}}
                {{form_widget(form.file)}}
            </div>
            
            <button type="submit">Importer</button>

            {% if count != null %}
                <p class="success">{{count}} champs ont été ajoutés</p>
            {% endif %}
            {% if error != null %}
                <p class="error">{{ error }}</p>
            {% endif %}
        
        </div>
        

        {{ form_end(form) }}
    </div>

{% endblock %}
