{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!
{% endblock %}

{% block body %}

	<style>
		#index .movies button {
			padding: 10px;
			margin: 20px;
			font-size: 20px;
			cursor: pointer;
			background: #A30B37;
			color: white;
			border-radius: 5px;
			transition-duration: 0.25s;
		}

		#index .movies button:hover {
			transform: scale(1.05);
		}

		#index .movies {
		}
	</style>

	<div id="index" class="example-wrapper">
		<h1>Films triés par : 
			{{ form_start(form) }}
			{{ form_widget(form.sort) }} 
			
			<button type="submit">Actualiser</button>
			{{ form_end(form) }}
		</h1>
		<div class="movies">
			{% if movies|length > 0 %}
				{% for movie in movies %}
					<a href="/display/{{movie.id}}"><button>{{movie.name}}</button></a>
				{% endfor %}
			{% else %}
				<p>Aucun film présent dans la base de donnée</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
